html, body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #f0f0f0;
    margin: 0;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 420px;
    width: 100%;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    text-align: center;
}

input {
    width: 80%;
    padding: 8px;
    margin: 5px 0;
}

button {
    padding: 8px 15px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
}

#generateButton {
    background: #049c4c;
    color: white;
}

#cleanButton {
    background: #888;
    color: white;
}

.logo_megasena {
    width: 200px;
}

#result div, #savedGames div {
    margin-top: 10px;
    padding: 10px;
    background: #f9f9f9;
    border-radius: 5px;
    text-align: left;
}

#savedGames button {
    margin-top: 5px;
    background: #ccc;
}
