body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    box-sizing: border-box;
}

.logo_megasena {
    width: 21em;
}

h1 {
    font-size: 24px;
    color: #333;
}

button {
    background-color: #049c4c;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 0.5em;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #128648;
}

#result {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
    min-height: 30px; /* Garante que haja espaço mesmo antes de gerar números */
    display: flex;
    flex-direction: column; /* Permite que os jogos sejam exibidos verticalmente */
    align-items: center;
}

#result div {
    margin: 5px 0; /* Espaçamento vertical entre os jogos */
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    width: 100%; /* Faz os jogos ocuparem a largura completa do container */
    box-sizing: border-box;
    text-align: left;
}

#result span {
    font-weight: bold;
    color: #094d0f;
}

#numJogos {
    width: 50px;
}
